/*Filename: styles.css*/
/*Description: this is just the styles css file with our characteristics*/
/*Authors: Kevin Lopez*/
/*cwid: 889508465*/
/*email: kevinlopez8554@csu.fullerton.edu*/

/*Emiliano Arranaga*/
/*email: earranaga1202@csu.fullerton.edu*/
/*cwid: 888006756*/



html {
    min-height: 100%;
    height: 100%;
    align-content: center;

}

body {
    align-content: center;
    margin: 0;
    min-height: 100%;
    height: 100%;
    text-align: center;
    font-family: sans-serif;
    background-color: #0D1317;
}


.column {
    /*float: left;*/
    display: inline-table;
    background-color: orange;
    width: 24%;
    height: 800px;
    border: 1px solid red;
;

}

/* Clear floats after the columns */
.row:after {

    height: 100%;
    content: "";
    display: table;
    clear: both;

}


.canvasItem{
    background-color: blue;
    width: 100%;
    height: 100%;
}
h1 {
    color: white;
}

canvas {
    background-color: black;
}
